*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 300px;
    height: 200px;
}
.conteiner{
    display: flex;
    width: 100vw;
    padding: 10px;
    
}
.conteiner-img{
    width: 30vw;
}
.receitas > h2{
    display: block;
    text-align: center;
    padding-bottom: 5px;
}
.preparo{
    width: 525px;
    padding-left: 20px;
    
}
.ingredientes{
    width: 25vw;
}
.receitas{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;

}
div p{
    padding-bottom: 3px;
}
div ul li{
    padding: 2px 0px;
    margin-left: 10px;
    
}