@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}
.conteiner{
    display: flex;
    width: 95vw;
    padding: 10px;
    
}
.conteiner-img{
    width: 30vw;
}
.receitas > h2{
    display: block;
    text-align: center;
    padding-bottom: 5px;
    font-family: "Sansita Swashed", system-ui;
}
.preparo{
    width: 450px;
    padding-left: 20px;
    
}
.ingredientes{
    width: 25vw;
}
.receitas{
    border-bottom: 2px solid black;
    margin: 5px;
    padding: 5px;
    

}
.cabeçario{
    display: flex;
    padding: 15px 0px 15px 0px;
}
.cabeçario h1{
    padding-left: 20vw;
    font-family: "Sansita Swashed", system-ui;

}
.cabeçario input{
    width: 250px;
    padding-left: 5px;
    margin-left: 3vw;
    border-radius: 10px 0px 0px 10px;
    border: solid 1px rgb(250, 138, 0);
}
.cabeçario button{
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
    border: solid 5px rgb(250, 138, 0);
    background-color: rgb(250, 138, 0);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.opções{
    width: 98vw;
}
.opções > ul{
    display: flex;
    padding: 0% 22%;
}
.opções ul li{
    padding:10px 15px;
    margin-bottom: 5px;
    border-radius: 20px;
}
.opções ul a{
    text-decoration: none;
    color: black;
}
.fa-solid{
    font-size: 30px;
    width: 30px;
    padding: 8px 5px 8px 8px;
    margin: 0px 0px 0px 50px;
    color: white;
    background-color: rgb(250, 138, 0);
    border-radius: 50%;
}
.fa-solid:hover{
    color: black;
    transition: 0.8s;
}
.opções ul li:hover{
    background-color: rgb(250, 138, 0);
    color: white;
    border-radius: 20px;
    transition: 0.8s;
}
.video{
    text-decoration: none;
    color: white;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
    border-radius: 10px;
}
.video:hover{
    color: black;
    background-color: white;
    transition: 0.8s;
}
div p{
    padding-bottom: 3px;
}
div ul li{
    padding: 2px 0px;
    margin-left: 10px;
    
}
body{
    background: linear-gradient(to right,orange,white);
    background-repeat: no-repeat;
    background-size: cover;
}
main h1{
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-family: "Sansita Swashed", system-ui;
}
strong{
    font-size: 18px;
}